@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500&display=swap');

body{
    font-family: 'Radio Canada', sans-serif !important;
}

.koulen-font{
    font-family: 'Koulen', cursive;
}

.lateral-navbar{
    border-right: 2px solid #0000001f;
}